@import "bootstrap-sprockets";
@import "bootstrap";

.form_button{

	margin-top: 10px;
	margin-bottom: 10px;
}

.background{
    background-image: url("potluck2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.modal_form{

	padding-right: 50px;
	padding-left: 50px;
}
