@import "bootstrap-sprockets";
@import "bootstrap";

.button_margin{
	margin: 10px 0 10px 0;
}

.margin{
	margin: 15px 0 15px 0;
}

.admin-potluck-view{
	border: none;
}

.form_button{
	margin-top: 10px;
	margin-bottom: 10px;
}

.background{
    background-image: url("potluck2.jpg");
    background-repeat: no-repeat;
    background-position:center;
}

.modal_form{
	padding-right: 50px;
	padding-left: 50px;
}

.jumbo_padding { 
	padding: 70px 0 380px 0;
}

.top_header{
	display:flex;
	align-items: center;
	padding: 10px 15px 15px 15px;
	color: #CCCCCC;
}

.header_padding{
	padding: 0 60px 0 60px;
}

.lower_header{
	text-align: right;
}

.navbar-inverse{
	margin-bottom: 0px !important;
}

.navbar-brand {
	color: #286090;
	font-size: 2em;
	font-weight: 600;
}
.navbar-brand :hover{
	color: white;
}

.greeting{
	font-family: 'Macondo', cursive !important;
}

.no_edit{
	border: 0;
    box-shadow: none;
}

.bottom_space{
	margin-bottom:50px;
}