<footer class="site-footer">
	<div class="footer-content">
		<a href="https://allenwipf.github.io/">Allen</a> &amp; <a href="https://malastrumdominisui.github.io/">Mike</a> Productions
	</div>
</footer>