<% if !@current_user.id.nil? %>
	<span class="greeting text-muted">Welcome <%= @current_user.name.downcase.split.map(&:capitalize).join(' ')%></span>
<% else %>
	<span class="greeting text-muted">Oh, Hi There!</span>
<% end %>	