<header>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Potluck Planner </a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
				<% if !@current_user.id.nil? %>
				    <li><a href="/user/shows">My Potlucks</a></li>
					<li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>  Logout</a></li>
				<% else  %>
					<%= render 'layouts/loginModal' %>
					<%= render 'layouts/modal' %>
				 	   <li><a href="#" data-toggle="modal" data-target="#login_modal"><span class="glyphicon glyphicon-user"></span>Log In</a></li>
				 	   <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
				    </ol>
				<% end %>
			</ul>
	  </div>
	</nav>

	
	<ol class="breadcrumb lower_header">
		<% if !@current_user.id.nil? %>
	 		<li class="greeting">WELCOME <%= @current_user.name.upcase %></li>
	   <% else %>
	   		<li class="greeting">Oh, Hi There!</li>
	   <% end %>
	    	</ol>
<header>