<header>
	<nav class="navbar navbar-inverse">
	  <div class="container">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Potluck Planner </a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
			<% if !@current_user.id.nil? %>
			    <li><a href="/user/shows"><span class="glyphicon glyphicon-list"></span>  My Potlucks</a></li>
				<li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>  Logout</a></li>
			<% else  %>
			 	<li><a href="#" data-toggle="modal" data-target="#login_modal"><span class="glyphicon glyphicon-user"></span>Log In</a></li>
			 	<li><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
			<% end %>
		</ul>
	  </div>
	</nav>

	<div class="breadcrumb lower_header">
		<div class="container">
			<% if !@current_user.id.nil? %>
			<span class="greeting">Welcome <%= @current_user.name.downcase.split.map(&:capitalize).join(' ')%></span>
			<% else %>
			<span class="greeting">Oh, Hi There!</span>
			<% end %>			
		</div>
	</div>

	<%= render 'layouts/loginModal' %>
	<%= render 'layouts/modal' %>

</header>