<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
   <div class="modal-dialog">

    <!-- Modal content-->
   <div class="modal-content">

      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Sign Up</h4>
      </div>


      <div class="modal-body">
         <form class="col_form form-group" action="/new" method="post">
            <input class="form-control" type="text" name="name" placeholder="name" required>
            <input class="form-control" type="text" name="email" placeholder="email" required>
            <input class="form-control modal_password_field" type="password" name="password" placeholder="password" required>
            <button type="button" class="form-control btn btn-info">Submit</button>
         </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

   </div>

  </div>
</div>



